@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Open Sans", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #383838 !default;
$background-color: #fdfdfd !default;
$brand-color:      #45C3FF !default;
$brand-color-light: lighten($brand-color, 20%) !default;
$brand-color-dark: darken($brand-color, 30%);

$grey-color:       #5d7682 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$red-color:       #F20000 !default;



// Import partials.
@import
  "niebieski/base",
  "niebieski/layout",
  "niebieski/syntax-highlighting"
;
